<div class="jumbotron">
  <h2>解答用紙一覧</h2>
  <i class="far fa-copy fa-3x text-primary float-right"></i>
  <br>
</div>

<div>
  <%= search_form_for @q do |f| %>
    <div class="input-group">
      <%= f.search_field :exam_title_cont, class: "form-control offset-sm-6", placeholder: "キーワード検索" %>
      <%= f.select :exam_subject_id_eq,
          content_tag(:option, "教科検索", value: "") +
          options_from_collection_for_select(Subject.all, :id, :name, @q.exam_subject_id_eq),
          {}, class: "form-control col-sm-2" %>
      <%= button_tag type: "submit", class: "input-group-append input-group-text" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %>
</div>

<% @answer_sheets.each do |as| %>
  <div class="card my-4">
    <div class="card-body">
      <div class="small mb-3">
        <div class="badge badge-primary px-2">
          <%= as.exam.subject.name %>
        </div>
        <%= l as.created_at, format: :long %>
      </div>

      <p class="card-title"><strong><%= as.exam.title %></strong></p>

      <div class="float-right">
        <%= link_to as, class: "stretched-link" do %>
          <i class="far fa-file-alt fa-lg fa-fw" title="Show"></i>
        <% end %>

        <span class="fa-stack">
          <% if as.comments.present? %>
            <i class="fas fa-comment-alt fa-lg text-primary" title="Comment"></i>
          <% else %>
            <i class="far fa-comment-alt fa-lg text-primary" title="Comment"></i>
          <% end %>
          <i class="fa text-primary"><%= as.comments.length %></i>
        </span>
      </div>
    </div>
  </div>
<% end %>
