<div class="card border-primary shadow-lg mx-auto">
  <div class="m-4">
    <h2><%= @answer_sheet.exam.title %></h2>
    <div class="text-right">
      学籍番号[ <strong><%= @answer_sheet.user.student_id %></strong> ]
      氏名[ <strong><%= @answer_sheet.user.name %></strong> ]

      <h1 class="mt-3 text-danger" style="font-family:'Charm',cursive;"><%= @answer_sheet.score %>／<%= @answer_sheet.exam.questions.length %>点</h1>
      <%= link_to result_answer_sheet_path(@answer_sheet), class: "btn btn-sm btn-outline-primary" do %>
        <i class="fas fa-chart-area"> 詳細を見る</i>
      <% end %>
    </div>
    解答日：<%= @answer_sheet.created_at %>
  </div>
</div>

<h4 class="mt-5 text-primary">コメント</h4>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments, answer_sheet: @answer_sheet } %>
</div>
<hr>
<div id="comment_form">
  <%= render partial: 'comments/form', locals: { comment: @comment, answer_sheet: @answer_sheet } %>
</div>
