<div class="card border-primary mx-auto p-4" style="max-width:600px;">
  <h2 class="text-primary"><%= t('.title', resource: resource.model_name.human) %></h2>

  <div class="card-body text-primary">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control border-primary" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
      <% end %>

      <div class="field form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control border-primary", placeholder: t('.leave_blank_if_you_don_t_want_to_change_it') %>
      </div>

      <div class="field form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control border-primary", placeholder: t('.leave_blank_if_you_don_t_want_to_change_it') %>
      </div>

      <hr class="my-4">

      <div class="card my-3 p-3 border-primary">
        <div class="field form-group">
          <%= f.label :current_password %><br />
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control border-primary", placeholder: t('.we_need_your_current_password_to_confirm_your_changes') %>
        </div>
      </div>

      <div class="actions mb-3 form-row">
        <div class="col">
          <%= f.submit t('.update'), class: "form-control btn btn-primary" %>
        </div>
        <div class="col">
          <%= link_to t('devise.shared.links.back'), :back, class: "form-control btn btn-outline-secondary" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
