<%= form_with(model: [answer_sheet, comment]) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.text_area :content, placeholder: "コメントを入力", class: "form-control" %>
  </div>
  <div class="form-row">
    <div class="col">
      <%= form.submit class: "form-control btn btn-primary" %>
    </div>
    <div class="col">
      <%= link_to "Back", :back, class: "form-control btn btn-outline-primary" %>
    </div>
  </div>
<% end %>
