<div class="card p-4">
  <p>学籍番号：<%= @user.student_id %></p>

  <p>氏名：<%= @user.name %></p>

  <p>メールアドレス：<%= @user.email %></p>
</div>

<div>
  <%= link_to edit_user_registration_path, class: "btn btn-sm btn-outline-primary" do %>
   <i class="fas fa-cog"> プロフィールを編集</i>
  <% end %>

  <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-sm btn-outline-primary" do %>
   <i class="fas fa-sign-out-alt"> ログアウト</i>
  <% end %>
</div>


<hr>

<p>テスト成績</p>
<% @user.answer_sheets.each do |as| %>
  <%= as.exam.title %>：
  <%= link_to t("views.link.show"), answer_sheet_path(as) %>
<% end %>

<%= area_chart [{ name: "得点", data: @point_charts }, { name: "平均点", data: @average_charts }] %>
