<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<p>学籍番号：<%= @user.student_id %></p>

<p>氏名：<%= @user.name %></p>

<p>メールアドレス：<%= @user.email %> <%= link_to "編集", edit_user_path %></p>

<hr>

<p>テスト成績</p>
<% @user.answer_sheets.each do |as| %>
  <%= as.exam.title %>：
  <%= link_to "詳細", answer_sheet_path(as) %>
<% end %>

<%= area_chart [{ name: "得点", data: @point_charts }, { name: "平均点", data: @average_charts }] %>
