<div class="card border-primary mx-auto p-4" style="max-width:600px;">

  <h2 class="text-primary"><%= t('.forgot_your_password') %></h2>

  <div class="card-body text-primary">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit t('.send_me_reset_password_instructions'), class: "form-control btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <hr class="my-4">

  <div class="text-right" style="font-size:0.8rem;">
    <%= render "devise/shared/links" %>
  </div>
</div>
