<div class="jumbotron">
  <% unless @exams.present? %>
    <h2>現在解答できるテストはありません</h2>
    <i class="fas fa-coffee fa-3x text-primary float-right"></i>
  <% else %>
    <h2>現在<%= @exams.length %>件のテストがあります</h2>
    <p>がんばって取り組みましょう!</p>
    <i class="fas fa-pencil-alt fa-3x text-primary float-right"></i>
  <% end %>
  <div class="text-warning">
    <% if @exams_on_deadline.present? %>
      <i class="fas fa-exclamation-triangle"></i>
      <% @exams_on_deadline.each do |eod| %>
        <span>「<%= eod.title %>」</span>
      <% end%>
      の締切が迫っています。
    <% end %>
  </div>
</div>

<% @exams.each do |exam| %>
  <div class="card my-2">
    <div class="card-body">

      <div class="small mb-3">
        <div class="badge badge-primary px-2">
          <%= exam.subject.name %>
        </div>
      </div>

      <div class="card-title"><%= exam.title %></div>

      <div class="float-right">
        解答締切:<%= l exam.deadline, format: :short %>
        <% unless answer_check(exam) %>
          <div class="badge">
            <%= link_to new_exam_answer_sheet_path(exam) do %>
              <i class="fas fa-pencil-alt"> 解答</i>
            <% end %>
          </div>
        <% else %>
          <div class="badge badge-primary">
            <i class="fas fa-check-circle"></i> 解答済
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
