<div class="jumbotron">
  <h2>試験作成画面(教員用)</h2>
  <div class="float-right">
    <%= link_to new_exam_path, class: "btn btn-primary m-1" do %>
      <i class="fas fa-pencil-alt"> 新規作成</i>
    <% end %>
    <%= link_to renew_exams_path, class: "btn btn-primary m-1" do %>
      <i class="fas fa-sync-alt"> 復習問題</i>
    <% end %>
  </div>
  <br>
</div>

<div>
  <%= search_form_for @q do |f| %>
    <div class="input-group">
      <%= f.search_field :title_cont, class: "form-control offset-sm-6", placeholder: "キーワード検索" %>
      <%= f.select :subject_id_eq,
          content_tag(:option, "教科検索", value: "") +
          options_from_collection_for_select(Subject.all, :id, :name, @q.subject_id_eq),
          {}, class: "form-control col-sm-2" %>
      <%= button_tag type: "submit", class: "input-group-append input-group-text" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  <% end %>
</div>

<% @exams.each do |exam| %>
  <div class="card my-4">
    <div class="card-body">
      <div class="float-right">
        <% if exam.release %>
          <div class="badge badge-pill badge-primary">公開</div>
        <% else %>
          <div class="badge badge-pill badge-warning">非公開</div>
        <% end%>
      </div>

      <div class="small mb-3">
        <div class="badge badge-primary px-2">
          <%= exam.subject.name %>
        </div>
        <%= l exam.created_at, format: :long %>
      </div>

      <p class="card-title"><strong><%= exam.title %></strong></p>

      <div class="card-text">締切：<%= l exam.deadline, format: :long %></div>

      <div class="float-right">
        <%= link_to exam do %>
          <i class="far fa-file-alt fa-lg fa-fw" title="Show"></i>
        <% end %>

        <%= link_to edit_exam_path(exam) do %>
          <i class="far fa-edit fa-lg fa-fw" title="Edit"></i>
        <% end %>

        <%= link_to exam, method: :delete, data: { confirm: t("views.messages.are_you_sure") } do %>
          <i class="far fa-trash-alt fa-lg fa-fw" title="Delete"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
