<div class="jumbotron">
  <h2>試験作成画面</h2>
  <%= link_to new_exam_path, class: "btn btn-primary float-right" do %>
    <i class="fas fa-pencil-alt"> New</i>
  <% end %>
  <br>
</div>

<% @exams.each do |exam| %>
  <div class="card my-4">
    <div class="card-body">
      <div class="float-right">
        <% if exam.release %>
          <div class="badge badge-pill badge-primary">公開</div>
        <% else %>
          <div class="badge badge-pill badge-danger">非公開</div>
        <% end%>
      </div>

      <div class="small mb-3">
        <div class="badge badge-primary px-2">
          <%= exam.subject.name %>
        </div>
        <%= l exam.created_at, format: :long %>
      </div>

      <p class="card-title"><strong><%= exam.title %></strong></p>

      <div class="card-text">締切：<%= l exam.deadline, format: :long %></div>

      <div class="float-right">
        <%= link_to exam do %>
          <i class="far fa-file-alt fa-lg fa-fw" title="Show"></i>
        <% end %>

        <%= link_to edit_exam_path(exam) do %>
          <i class="far fa-edit fa-lg fa-fw" title="Edit"></i>
        <% end %>

        <%= link_to exam, method: :delete, data: { confirm: t("views.messages.are_you_sure") } do %>
          <i class="far fa-trash-alt fa-lg fa-fw" title="Delete"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
