<h1>Exams#index</h1>

<% @exams.each do |exam| %>
  <div>
    <%= exam.title %>
    <%= exam.deadline %>
    <%= exam.release ? "○" : "×" %>
    <%= link_to 'Show', exam %>
    <%= link_to 'Edit', edit_exam_path(exam) %>
    <%= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
<div>
  <%= link_to 'New', new_exam_path %>
</div>
