<h1>Exams#new</h1>

<%= form_with(model: @exam, local: true) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :deadline %>
  <%= form.date_field :deadline, value: Time.now.strftime("%Y-%m-%d") %>
  <%= form.label :release %>
  <%= form.check_box :release, {}, true, false %>
  <%= form.submit "create" %>
<% end %>
