<!DOCTYPE html>
<html>
  <head>
    <title>GraduationExam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- Header -->
  <body>
    <header style="height:80px;">
      <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-primary">
        <a class="navbar-brand" href="/" style="font-family:'Fredoka One',cursive; font-size:2.5rem;">Exam</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <% if current_user.admin? %>
              <li class="nav-item">
                <%= link_to "マイページ", user_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "教員用管理画面", teacher_root_path, class: "nav-link" %>
              </li>
            <% elsif user_signed_in? %>
              <li class="nav-item">
                <%= link_to "マイページ", user_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "解答用紙", answer_sheets_path, class: "nav-link" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Notice or Alert -->
    <div style="height:60px;">
      <%= render "layouts/flash" %>
    </div>

    <!-- Main -->
    <div class="container" style="margin-bottom:100px;">
      <%= yield %>
    </div>

    <!-- Footer(for Smartphone) -->
    <footer class="fixed-bottom bg-primary d-block d-sm-none">
      <div class="container my-3">
        <div class="row">
          <% if current_user.admin? %>
            <div class="col">
              <%= link_to root_path, class: "text-center text-light d-block py-2 w-100", title: "Home" do %>
                <i class="fas fa-home fa-2x"></i>
              <% end %>
            </div>
            <div class="col">
              <%= link_to user_path, class: "text-center text-light d-block py-2 w-100", title: "My Page" do %>
                <i class="fas fa-user fa-2x"></i>
              <% end %>
            </div>
            <div class="col">
              <%= link_to teacher_root_path, class: "text-center text-light d-block py-2 w-100", title: "Teacher's Page" do %>
                <i class="fas fa-chalkboard-teacher fa-2x"></i>
              <% end %>
            </div>
            <div class="col">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-center text-light d-block py-2 w-100" %>
            </div>
          <% elsif user_signed_in? %>
            <div class="col">
              <%= link_to root_path, class: "text-center text-light d-block py-2 w-100", title: "Home" do %>
                <i class="fas fa-home"></i>
              <% end %>
            </div>
            <div class="col">
              <%= link_to user_path, class: "text-center text-light d-block py-2 w-100", title: "My Page" do %>
                <i class="fas fa-user"></i>
              <% end %>
            </div>
            <div class="col">
              <%= link_to answer_sheets_path, class: "text-center text-light d-block py-2 w-100", title: "Answer Sheets" do %>
                <i class="far fa-copy"></i>
              <% end %>
            </div>
            <div class="col">
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "text-center text-light d-block py-2 w-100" %>
            </div>
          <% end %>
        </div>
      </div>
    </footer>
  </body>
</html>
